.leftside {
    list-style-type: none;
}

.rightside {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e2e2e2;
}

.left-icons, .right-icons {
    display: flex;
    gap: 50px;
    padding: 0 20px; /* This adds 20px of space to the left and right */
}

.logo {
    width: 25%;
    padding: 1%;
    text-align: center;
}

.card {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr repeat(10, 1fr) 1fr;
    grid-template-rows: auto auto; /* Add this line */
}

.card-image-left {
    grid-column: 2 / span 6;
    grid-row: 1; /* Add this line */
    background: #a2d2de;
}

.card-image-right {
    grid-column: 6 / span 6;
    grid-row: 1; /* Add this line */
    background: #a2d2de;
}

.card-image-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content-left {
    grid-column: 2 / span 4;
    grid-row: 1; /* Add this line */
    padding: 20px; /* Add padding */
    background: #a2d2de;
}

.card-content-right {
    grid-column: 8 / span 4;
    grid-row: 1; /* Add this line */
    padding: 20px; /* Add padding */
    background: #a2d2de;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.graphic-button {
    font-family: 'Avenir', sans-serif;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #373738;
    padding: 20px; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust this value to increase or decrease the space between the icons */
}

.footer-logo {
    margin-top: 20px; /* Adjust this value to increase or decrease the space between the icons and the logo */
}