.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 2%;
    padding: 1%;
    font-family: 'Avenir', sans-serif;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
    font-family: 'Avenir', sans-serif;
}

.logo {
    width: 25%;
    padding: 1%;
    text-align: center;
}
.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    font-family: 'Avenir', sans-serif;
}
.button {
    font-family: 'Avenir', sans-serif;
}

footer {
    background-color: #373738;
    padding: 20px; 
}


footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0; 
    font-family: 'Avenir', sans-serif;
}

footer li {
    padding: 0 20px; 
    font-family: 'Avenir', sans-serif;
}

h1 {font-family: 'Avenir', sans-serif;}